// Colors
$bg: #fff

$main: rgba(40, 40, 40, 255)
$secondary: rgba(255, 255, 255, 255)
$image-description: #aaaaaa
$image-comment: #989898
$white: #fff
$black: #282828
$green: #4ce87c
$blue: #04B1F9
$light-grey: #ECECEC
$dark-grey: #bcbcbc
$line: rgba(235, 235, 234, 255)
$input-border: #dcdcdc
$input-background: #f6f6f6
$pagination-border: #d0d0d0

// Text colors
$text-main: $black
$text-secondary: $secondary
$text-comment: $image-comment
$text-description: $image-description
