.backToGallery
  text-align: right

// Image slider
#slider,
.wrap,
.slide-content
  margin: 0
  padding: 0
  font-family: $font-stack
  width: 100%
  height: 240px
  overflow-x: hidden

.wrap
  position: relative
  max-height: 240px
  margin-top: 27px
  margin-bottom: 40px

.slide
  background-size: cover
  background-position: center
  background-repeat: no-repeat

.slide1
  background-image: url("../images/sliderPhoto.svg")
.slide2
  background-image: url("../images/3.png")
.slide3
  background-image: url("../images/4.png")
.slide4
  background-image: url("../images/5.png")
.slide5
  background-image: url("../images/6.png")
.slide6
  background-image: url("../images/7.png")
.slide7
  background-image: url("../images/8.png")
.slide8
  background-image: url("../images/9.png")

.slide-content
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center

.slide-content span
  font-size: 1rem
  color: $black
  position: absolute
  left: 0
  top: 0
  margin-left: 5px

.arrow
  cursor: pointer
  position: absolute
  top: 55%
  margin-top: -35px
  width: 0
  height: 0

#arrow-container-left, #arrow-container-right
  width: 50px
  height: 50px
  display: flex
  transition: background 0.5s ease
  background: $white
  border-style: none
  &:hover
    background: darken($white, 10%)

#arrow-container-left
  left: 10px

#arrow-container-right
  right: 10px

#arrow-left
  align-self: center
  margin: 0 auto
  width: 0
  height: 0
  border-top: 11px solid transparent
  border-bottom: 11px solid transparent
  border-right: 18px solid $black

#arrow-right
  align-self: center
  margin: 0 auto
  width: 0
  height: 0
  border-top: 11px solid transparent
  border-bottom: 11px solid transparent
  border-left: 18px solid $black

@keyframes slide-right
  0%
    opacity: 0.7
    transform: translateX(-100%)
  100%
    opacity: 1
    transform: translateX(0)

@keyframes slide-left
  100%
    opacity: 1
    transform: translateX(0)

  0%
    opacity: 0.7
    transform: translateX(100%)

// Comment area
#commentArea
  margin-bottom: 10px

#commentArea > p
  color: $black
  font-size: 14px
  font-weight: $font-bold
  line-height: 24px
  margin-top: -6px
  margin-bottom: -12px

#commentForm
  text-align: left
  display: grid
  grid-gap: 20px
  grid-template-areas: "name email" "comment comment" ". addComment"
  @media(max-width:413px)
    grid-template-areas: "name email" "comment comment" "addComment addComment"

  margin-top: 35px

#commentName, #commentEmail
  display: inline-block

#commentName
  grid-area: name
  width: 100%

#commentEmail
  grid-area: email
  width: 100%

#comment
  grid-area: comment

#addComment
  grid-area: addComment

.commentBox
  text-align: left
  display: grid
  grid-template-columns: 80px 100px 100px
  grid-template-areas: "avatar . ." "avatar name name" "avatar comment comment" "avatar . ."
  margin-top: 21px

#commentArea .commentBox:nth-child(n+4)
  margin-top: 6px

#commentArea .commentBox:nth-child(n+5)
  margin-top: 12px

.dynamicFix
  margin-top: 18px
  margin-bottom: -3px

.lineFix
  margin-top: 16px

.cName
  font-weight: $font-bold
  color: $black
  font-size: 14px
  line-height: 24px
  margin-bottom: -1px

.cComment
  font-size: 13px
  color: $text-comment
  line-height: 24px
  margin-bottom: 6px

.avatar
  border-radius: 50%
  width: 60px
  height: 60px
  vertical-align: text-top

.gridAv
  grid-area: avatar

.gridNa
  grid-area: name

.gridCo
  grid-area: comment

#commentForm input
  width: 100%
  margin-bottom: 0

#commentForm textarea
  width: 100%
  height: 94px
  margin-top: 9px
  padding-left: 10px
  font-size: 14px

#cName
  margin-top: 8px

#cEmail
  margin-top: 8px

#comment
  margin-top: -6px

#addComment #addC
 margin-top: 0
 border: none
 text-transform: uppercase
 color: $white
 font-weight: $font-bold
 line-height: 24px
 background-color: $blue
 cursor: pointer
 transition: background 0.5s ease
 &:hover
   background-color: lighten($blue, 10%)
