// Image upload form
.upload
  text-align: left

input, textarea
  border: 1px solid $dark-grey

input
  margin: 10px 0

textarea
  margin-top: 10px

#browse
  width: 73%
  display: inline-block

#loadFilesXml
  width: 30.1%
  display: inline-block
  margin-left: -19px
  border-top-left-radius: 0
  border-bottom-left-radius: 0
  border: none
  background: $green
  color: $white
  text-transform: uppercase
  cursor: pointer
  font-size: 14px
  font-weight: $font-bold
  padding: 11.4px 7px 7.5px 7px
  &:hover
    background: darken($green, 15%)

.submit
  width: 50%
  text-transform: uppercase
  font-size: 16px
  font-weight: $font-bold
  color: $white
  background: $blue
  cursor: pointer
  margin-left: auto
  &:hover
    background-color: darken($blue, 10%)

#addComment .submit
  width: 100%

hr
  margin: 30px 0 40px 0
